#titulo{
    padding-top: 70px;
    color: white;
    font-size: 50px;
}

#criador{
    font-size: 10px;
    text-align: center;
    color: #ffffff;
}
body{
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

